* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

header {
    background-color: #0dcbe4;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    transition: background-color 0.5s ease;
}

header h1 {
    font-size: 2.5rem;
    color: #000;
}

header p {
    font-size: 1.2rem;
    color: #000;
}

/* Sticky Navbar */
#navbar {
    position: sticky;
    top: 0;
    background-color: #2415ee;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#navbar ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

section {
    padding: 40px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease;
}

#about, #projects, #skills, #resume, #contact {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.skills-list li {
    background-color: #f04906;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold
}

#projects .project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#projects .project {
    background-color: #fff;
    padding: 20px;
    width: 45%;
    margin: 10px;
    border-radius: 8px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f8430b;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
